.receipt {
  border: 1px solid coral;
  padding: 1em;
  margin: 1em;
  flex-basis: 30%;
  max-width: 30%;
}

span {
  color: indigo;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 1.5em;
}